.x-modal-mask {
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  opacity: 1;
  z-index: 199;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  background-color: rgba(0, 0, 0, 0.34);
}

.x-modal-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
  z-index: 201;
  overflow-y: auto;
}

.x-modal-body {
  position: relative;
  box-sizing: border-box;
  transition: all 0.15s ease-in-out;
  transform: scale(0.6, 0.6);
  opacity: 0;
  width: 800px;
  margin: 50px auto;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  opacity: 0.7;
  transform: scale(0.85, 0.85);
}

.x-modal-active {
  opacity: 1;
  transform: scale(1, 1);
}

.x-modal-willclose {
  opacity: 0;
  transform: scale(0.6, 0.6);
}

.x-modal-close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 26px;
  height: 26px;
  opacity: 0.3;
  cursor: pointer;
}

.x-modal-close-btn:hover {
  opacity: 1;
}

.x-modal-close-btn:before,
.x-modal-close-btn:after {
  position: absolute;
  left: 13px;
  content: ' ';
  height: 26px;
  width: 2px;
  background-color: #333;
}

.x-modal-close-btn:before {
  transform: rotate(45deg);
}
.x-modal-close-btn:after {
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .x-modal {
    transition: all 0.15s ease-in-out;
    transform: scale(1, 1);
    width: 100%;
    height: 100%;
    margin: 0;
    box-shadow: none;
  }
}
